@charset "UTF-8";
#wrapper {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
body {
	font-family: lato;
	font-style: normal;
	font-weight: 300;
	background-color: #66943E;
}
.featureBG {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
}
.marginTopBot {
	margin-top: 40px;
	margin-bottom: 30px;
}
.marginTop {
	margin-top: 40px;
	margin-bottom: 0px;
}
.marginBot {
	margin-bottom: 40px;
}
p {
	font-weight: 300;
	font-size: 18px;
}
h2 {
	font-size: 38px;
	margin-left: 10%;
	margin-right: 10%;
}
.navbar {
	background-color: rgba(255,255,255,0.95);
}
h1   , h2  {
	font-weight: 200;
	text-transform: uppercase;
}
.description {
	margin-left: 10%;
	margin-right: 10%;
}
.btn {
	background-color: #66943E;
	border-width: 0px;
	font-weight: 300;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btnLight {
	background-color: #FFFFFF;
	color: #66943E;
}
.wrapper {
	text-align: center;
}
.jumboUpdate {
	border-radius: 0px;
}
.featureBGmid {
	background-color: #EEEEEE;
}
.featureBGlight {
	background-color: #FFFFFF;
}
.featureBGbrand {
	background-color: #66943E;
}
.featureBGTop {
	padding-top: 10px;
}
.light {
	color: #FFFFFF;
}
.cent {
}
.img-responsive {
	max-width: 90%;
}
.paddingZeroBot {
	padding-bottom: 0px;
}
.checklist {
	max-width: 750px;
	text-align: center;
}

@media screen and (max-width:767px){
.mobileText {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	text-align: center;
}
body {
	background-color: #FF0004;

}

